/* ASP Settings Styling */

.asp-settings-wrapper {
    border: 1px solid #d3d9e6;
    background-color: #fff;
    padding: 0px;
    margin-top: 25px;
}
.asp-settings-wrapper .advanced-header {
    border-top: 0px solid #def2f1;
    background-color: #1c2a36;
    border-bottom: 4px solid #1c2a36;
    padding: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
.asp-inner-wrapper input[type=text]:not(.input-short, .wp-color-picker),
.asp-inner-wrapper input[type=number]:not(.input-short, .wp-color-picker) {
    max-width: 400px;
    width: 100%;
}
.asp-inner-wrapper input[type=number]:not(.input-short, .wp-color-picker) {
    max-width: 112px;
}
.asp-settings-wrapper input[type=number].input-short {
    max-width: 84px;
}
.asp-settings-wrapper .color-field.wp-color-picker {
    width: 70px!important;
    margin-right: 9px!important;
    position: relative;
    bottom: 1.75px!important;
}
.asp-settings-wrapper .wp-picker-clear {
    position: relative;
    top: 0px!important;
    margin-left: 0px !important;
}
.asp-inner-wrapper textarea {
    width: 100%!important
}
@media (min-width: 1000px) {
    .asp-inner-wrapper  td {
        width: 82%!important;
    }
}
.asp-inner-wrapper th {
    min-width: 250px!important;
}
.asp-inner-wrapper  td {
    padding-right: 35px;
}
.asp-settings-wrapper .advanced-header img {
    position: relative;
    top: 2px;
    height: 50px;
    width: auto;
}
.asp-settings-wrapper .advanced-header .client-logo {
    display: inline!important;
}
.asp-settings-wrapper .advanced-header h1 {
    display: inline;
    color: #fff;
    position: relative;
    bottom: 15px;
    left: 14px;
}
.asp-settings-wrapper h3 {
    margin: 0px;
    margin-top: 0px;
    background-color: #f5f5f5 !important;
    border-left: 4.7px solid #cd9f58;
    padding: 22px 34px 22px 34px;
    margin-bottom: 20px;
    color: #192531;
    box-shadow: 0px 3px 10px #7c809c52;
}
.asp-settings-wrapper th {
    padding-left: 1px!important;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    top: 11px;
}
@media (max-width: 780px) {
    .asp-settings-wrapper th {
        padding-bottom: 20px!important;
    }
}
.asp-settings-wrapper input[type=radio], .asp-settings-wrapper input[type=checkbox] {
    margin-right: 8px;
    position: relative;
    bottom: 2px;
}
.asp-save-section {
    padding-bottom: 40px!important;
    padding-top: 5px!important;
}
.asp-save-section p {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}
.asp-settings-wrapper .form-table {
    margin-left: 2px;
}
.asp-developer {
    font-size: 12px;
    line-height: 15px;
}
.asp-settings-wrapper th p {
    font-size: 13px;
    color: #6d6d6d;
    font-weight: 400!important;
}
.asp-settings-wrapper .asp-inner-wrapper .form-table p,
.asp-settings-wrapper .asp-inner-wrapper .form-table th {
    font-size: 13px;
}
.asp-radio-spacing {
    margin-left: 12px!important;
}
.asp-radio-row {
    position: relative;
    top: 5px;
}
.asp-settings-wrapper .updated {
    margin-top: 8px!important;
    margin-bottom: 4px!important;
    background-color: #fff  !important;
    border-left: 4px solid #cd9f58 !important;
    color: #192531 !important;
    margin-top: 13px!important;
}
.asp-settings-wrapper .updated p {
     position: relative;
     padding-top: 6px!important;
     padding-bottom: 6px!important;
     bottom: 2px;
}
.asp-access {
    vertical-align: text-top!important;
}
@media (min-width: 1600px) {
    .asp-access.two {
        position: relative;
        right: 20%;
        bottom: 0px;
    }
}
@media (min-width: 1400px) and (max-width: 1600px) {
    .asp-access.two {
        position: relative;
        right: 10%;
        bottom: 0px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .asp-access.two {
        position: relative;
        right: 10%;
        bottom: 0px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    .asp-access.two {
        position: relative;
        right: 10%;
        bottom: 0px;
    }
}
.asp-footer a {
    color: #fff !important;
    text-decoration: none!important;
}
.asp-footer a:hover {
    color: #6cd17f!important;
    text-decoration: none!important;
}
.asp-settings-wrapper div.error {
    margin-top: 8px!important;
    margin-bottom: 4px!important;
    background-color: #fff  !important;
    border-left: 4px solid #cd9f58 !important;
    color: #192531 !important;
    padding-bottom: 6px!important;
    padding-top: 3px!important;
}

/* General Message Styling */

.asp-general {
    border-left: none!important;
    padding: 0px!important;
}
.asp-general .title-background {
    margin-top: 0px!important;
    padding: 12.5px;
    padding-top: 9.5px!important;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6cd17f;
    color: #fff!important;
}
.asp-general .notice-dismiss:before {
    color: #fff!important;
}
.asp-general-content {
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    padding-bottom: 20px;
}
.asp-general-content img {
    padding-top: 18px;
    padding-bottom: 18px;
}
.asp-general-content h3, .asp-general-content h2 {
    margin-bottom: 7px;
}
.asp-general-content h5 {
    margin-bottom: 4px!important;
}
.wpp-settings-wrapper .regular-text {
    width: auto;
}

/* ASP Custom Widget Styling */

#brand_dash_widget {
    display: none;
}
.asp-general {
    display: none;
}
@media (min-width: 1000px) {
    .asp-settings-wrapper th {
        width: 250px!important;
    }
}
.asp-disable-option-wrapper {
    padding-bottom: 12px;
    display: block;
}
.asp-disable-option-wrapper input[type=checkbox] {
    position: relative;
    top: 0px!important;
}
@media (min-width: 780px) {
    .asp-settings-wrapper h4 {
        margin-left: -10px!important;
        font-size: 19px!important;
        color: #3aafa9;
        line-height: 29px!important;
        padding-bottom: 12px;
        border-bottom: 1.4px dashed #333333;
        margin-bottom: 0px;
        margin-top: 5px!important;
    }
}
@media (max-width: 780px) {
    .asp-settings-wrapper h4 {
        margin-left: 0px!important;
        font-size: 19px!important;
        color: #3aafa9;
        line-height: 29px!important;
        padding-bottom: 12px;
        border-bottom: 1.4px dashed #333333;
        margin-bottom: 0px;
    }
}

/* Nav Styling */

.asp-settings-wrapper .nav-tab-active, .asp-settings-wrapper .nav-tab-active:focus, .asp-settings-wrapper .nav-tab-active:focus:active, .asp-settings-wrapper .nav-tab-active:hover {
    border-bottom: 1px solid #17242a;
    background: #17242a!important;
    color: #fff!important;
    margin-bottom: 0px!important;
}
.asp-settings-wrapper .nav-tab {
    float: left;
    border: 1px solid #eae2e2;
    border-bottom: none;
    margin-left: .5em;
    padding: 5px 45px;
    font-size: 14px;
    line-height: 24px;
    background: #3aafa9;
    border-top-left-radius:0px!important;
    border-top-right-radius: 0px!important;
    color: #ffffff;
}
.asp-settings-wrapper .nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
    border-bottom: 2px solid #f5f5f5 !important;
}
.asp-settings-wrapper .nav-tab:hover {
    border-bottom: 1px solid #17242a;
    background: #17242a !important;
    color: #fff;
    margin-bottom: -1px!important;
}
.asp-settings-wrapper input[type=text], .asp-settings-wrapper input[type=number], .asp-settings-wrapper textarea {
    padding: 6px!important;
    background-color: #ffffff;
    padding-left: 10px!important;
    padding-right: 10px!important;
    line-height: 19px!important;
    border-radius: 2px!important;
    border: 1px solid #ddd !important;
}

.asp-settings-wrapper .asp-archive-permalink-slug input[type=text] {
    background-color: #ffffff;
}

.asp-footer {
    background-color: #1c2a36;
    padding: 33px 20px 33px 20px;
    color: #bbbbbb;
    margin-left: 0px;
    margin-right: 0px;
    text-align: right;
    margin-bottom: -3px!important;
}
@media (max-width: 780px) and (min-width:600px) {
    .asp-settings-wrapper .nav-tab {
        width: 94%;
    }
}
@media (max-width: 600px) {
    .asp-settings-wrapper .nav-tab {
        width: 92%;
        margin-bottom: 0px!important;
        margin-top: 0px!important;
    }
}

/* Preview Button Styling */

.asp-preview-button {
    margin-top: 5px;
    margin-bottom: 30px;
    display: block;
}
.asp-preview-button:after {
    content: '(save changes before previewing)';
    display: inline-block;
    padding-top: 7px;
    font-size: 12px;
}

/* General Page Styling */

.asp-general-wrapper .asp-leftside, .asp-general-wrapper .asp-rightside {
    margin: 0px;
    padding: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align: top;
}
@media (min-width: 782px) {
    .asp-general-wrapper .asp-leftside, .asp-general-wrapper .asp-rightside {
        width: 49.5%!important;
        display: inline-block;
    }
}

/* Sermon Taxomony Thumbnail */

.form-field.term-group.speaker-thumbnail, .form-field.term-group.series-thumbnail {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background-color: #fff;
    padding: 20px;
    margin-right: 5%;
    margin-bottom: 40px;
}
.form-field.term-group.speaker-thumbnail label, .form-field.term-group.series-thumbnail label {
   padding-bottom: 7px!important;
}

.form-field.term-group.speaker-thumbnail img , .form-field.term-group.series-thumbnail img {
   padding-bottom: 7px!important;
}

/* Sermon Metabox Styling */

@media (min-width: 920px) {
    #asp_sermon_details input {
       width: 450px;
       padding: 6px 10px;
    }
    #asp_sermon_details textarea {
       width: 450px;
       padding: 6px 10px;
       height: 95px;
    }
}
@media (max-width: 920px) {
    #asp_sermon_details input {
       width: 100%;
       padding: 6px 10px;
    }
    #asp_sermon_details textarea {
       width: 100%;
       padding: 6px 10px;
    }
    #asp_sermon_details input[type="button" i] {
        margin-left: 0px!important;
        margin-top: 5px!important;
    }
}
#asp_sermon_details input {
    border: 1px solid #ccd0d4 !important;
    line-height: 21px !important;
    border-radius: 1px !important;
}
#asp_sermon_details tr {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0px;
    display: block;
}
#asp_sermon_details th {
    width: 220px!important;
}
#asp_sermon_details td p  {
    color: #a3a3a3;
    font-style: normal;
    padding-top: 3px;
}
#asp_sermon_details input[type="button" i] {
    width: auto!important;
    text-align: center;
    padding: 5px 13px;
    margin-left: 10px;
    border-radius: 3px!important;
    background-color: #f4f4f4 !important;
    box-shadow: 0px 0px 0px #fff!important;
    border: 1px solid #ccc;
    cursor: pointer;
}
#asp_sermon_details input[type="button" i]:hover {
    background-color: #007cba  !important;
    color: #fff!important;
}
.asp-float-option {
    right: 0px!important;
    bottom: 0px!important;
    position: fixed!important;
    display: block!important;
    width: 100%!important;
    float: right;
    background-color: #fff!important;
    border-top: 1px solid #efeded!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    z-index: 2!important;
}
@media (min-width: 960px) {
    .asp-float-option .asp-save-section {
        margin-left: 206px!important;
        position: relative;
        display: block!important;
        padding-bottom: 27px!important;
        min-width: 600px!important;
    }
    .asp-float-option .asp-save-section p.submit {
        margin-top: 10px!important;
        padding-top: 10px;
    }
}
@media (max-width: 960px) {
    .asp-float-option .asp-save-section {
        margin-left: 73px!important;
        position: relative;
        display: block!important;
        padding-bottom: 27px!important;
        min-width: 600px!important;
    }
    .asp-float-option .asp-save-section p.submit {
        margin-top: 10px!important;
        padding-top: 10px;
    }
}
@media (max-width: 780px) {
    .asp-float-option .asp-save-section {
        margin-left: 41px!important;
        position: relative;
        display: block!important;
        padding-bottom: 27px!important;
    }
    .asp-float-option .asp-save-section p.submit {
        margin-top: 11px!important;
        padding-top: 10px;
    }
}
.asp-float-option .asp-save-section p.submit {
    display: inline!important;
}
.asp-inline-option {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    .asp-inline-option {
        margin-bottom: 20px;
    }
}
.asp-page-navigation.vertical.left .asp-tabs-navigation-wrapper {
    float: left;
}
.asp-page-navigation.vertical .asp-tabs-navigation-wrapper {
    width: 200px;
    max-width: 200px!important;
    overflow: hidden!important;
}
.asp-tab-content {
    margin-left: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding: 28px 25px;
    border-left: 1px solid #ebebed;
    padding-bottom: 28px;
    min-height: 330px;
}
.asp-tabs-navigation-wrapper a {
    display: block;
    padding: 13px 23px;
    max-width: 200px!important;
    border-bottom: 1px solid #ebebed;
    text-decoration: none;
    color: #3a5057;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
}
.asp-nav-tab-active, .asp-tabs-navigation-wrapper a:hover {
    background-color: #cd9f58 !important;
    color: #fff!important;
}
.asp-tab-content .form-table {
    position: relative!important;
    display: inline-block!important;
}
.asp-tab-content .form-table tbody {
    position: relative!important;
    display: inline-block!important;
    width: 100%;
}
.asp-tab-content tr {
    display: block;
    border: 1px solid #efeded;
    border-top: 0px solid #efeded;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 35px;
    paddomg-right: 35px;
}
.asp-tab-content #setting-error-asp-settings-updated {
    display: none!important;
}
@media (max-width: 900px) {
.asp-page-navigation.vertical .asp-tabs-navigation-wrapper {
    width: 100%;
    max-width: 100%!important;
    overflow: hidden!important;
    display: block;
}
.asp-tab-content {
    margin-left: 0px!important;
    display: block!important;
}
.asp-float-option {
    display: block!important;
    width: 100%!important;
    float: unset!important;
}
.asp-page-navigation.vertical.left .asp-tabs-navigation-wrapper {
    float: unset!important;
}
.asp-tabs-navigation-wrapper a {
    max-width: 100%!important;
}
.asp-footer {
    margin-right: 12px!important;
}
}
.asp-title-holder {
    background-color: #f5f5f5;
    border-top: none!important;
    border-bottom: none!important;
    position: relative;
    bottom: 1px;
}
.asp-inner-title {
    font-size: 17px;
    line-height: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    color: #192531!important;
}
.asp-title-holder {
    padding-left: 20px!important;
    border-left: 5px solid #1c2a36 !important;
    margin-left: 1px;
}
.asp-settings-desc {
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 14px;
}

/* Toggle On/Off Switch Design */

.asp-switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px!important;
    margin-right: 15px;
    bottom: 3px;
}
.asp-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.asp-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    -webkit-transition: .4s;
    transition: .4s;
}
.asp-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .asp-slider {
    background-color: #cd9f58 ;
}
input:focus + .asp-slider {
    box-shadow: 0 0 1px #cd9f58 ;
}
input:checked + .asp-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.asp-slider.round {
    border-radius: 34px;
}
.asp-slider.round:before {
    border-radius: 50%;
}

/* Shortcode Parameters */
.asp-shortcode-parameters code {
    margin: 25px 0px 14px;
    display: block;
    width: fit-content!important;
}
.asp-shortcode-parameters p {
    padding-bottom: 3px;
}

/* License Activation Message */

.asp-activation-message {
    margin-top: 0px;
    background-color: #f5f5f5 !important;
    border-left: 4.7px solid #cd9f58;
    padding: 13px 20px 13px 20px;
    margin-bottom: 4px!important;
    margin-top: 20px!important;
    color: #192531;
    display: block;
}

/* Buy Pro Version Page */

.asp-upgrade-body {
    background-color: #1c2a36;
    padding: 65px 30px 90px 30px;
}
.asp-upgrade-body h1 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merriweather', sans-serif;
    font-size: 2.5em;
    line-height: 2.1em;
}
.asp-upgrade-body .upgrade-section p {
    text-align: center;
    color: #fff;
    margin-top: -4px;
    font-size: 1.2em;
    opacity: 0.7;
}
.asp-upgrade-body .upgrade-section a {
    text-align: center;
    color: #fff !important;
    font-size: 1.2em;
    margin: auto;
    display: block!important;
    font-size: 12px;
    line-height: 53px;
    height: 53px;
    font-style: normal;
    font-weight: 400;
    background-color: #cd9f58;
    border: 1px solid #cd9f58 !important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    letter-spacing: 0px;
    text-transform: uppercase;
    border-width: 0px;
    padding-left: 45px;
    padding-right: 45px;
    max-width: 190px;
    text-decoration: none!important;
    font-family: 'Merriweather', sans-serif;
    margin-top: 30px!important;
    border-radius: 1px;
}
.asp-upgrade-body .upgrade-section a:hover {
    background-color: #2c3a47;
    border: 1px solid #cd9f58 !important;
}
.asp-upgrade-body .compare-section {
    padding-top: 25px;
}
.asp-upgrade-body .compare-section h5 {
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 30px;
}
.asp-upgrade-body .compare-section .compare-table {
    background-color: #fff;
    margin: auto;
    border-top: 6px solid #cd9f58;
    border-radius: 2px;
}
@media(min-width: 1400px) {
    .asp-upgrade-body .compare-section .compare-table {
        width: 75%;
    }
}
.asp-upgrade-body .compare-section .compare-table .asp-column {
    width: 33%!important;
    border-right: 1px solid #1c2a36 !important;
    height: auto;
    box-sizing: border-box!important;
    display: inline-block!important;
}
.asp-upgrade-body .compare-section .compare-table .asp-column ul {
    display: inline-block!important;
    width: 100%!important;
    box-sizing: border-box!important;
    margin: 0px!important;
}
.asp-upgrade-body .compare-section .compare-table .asp-column li {
    padding: 10px 25px 10px 25px;
    box-sizing: border-box!important;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box!important;
    width: 100%;
    color: #1c2a36!important;
    margin: 0px!important;
}
.asp-upgrade-body .compare-section .compare-table .asp-column.title li {
    padding-right: 20px!important;
}
.asp-upgrade-body .compare-section .compare-table .asp-column li img {
    position: relative;
    top: 3.5px;
    margin-top: -3px;
    height: 16px;
    width: 16px;
}
.asp-upgrade-body .compare-section .compare-table .asp-column.pro {
    border-right: 0px solid #d2d2d2 !important;
}
.asp-upgrade-body .compare-section .compare-table .asp-column.title {
    width: 75%!important;
    box-sizing: border-box;
}
.asp-upgrade-body .compare-section .compare-table .asp-column.free,.asp-upgrade-body .compare-section .compare-table .asp-column.pro {
    width: 24.5%!important;
    text-align: center;
    box-sizing: border-box;
}
@media(max-width: 1250px) {
    .asp-upgrade-body .compare-section .compare-table .asp-column.title {
        width: 75%!important;
    }
    .asp-upgrade-body .compare-section .compare-table .asp-column.free,.asp-upgrade-body .compare-section .compare-table .asp-column.pro {
        width: 24%!important;
    }
    .asp-upgrade-body .compare-section .compare-table .asp-column.pro {
        border-bottom: 0px solid #dadada !important;
    }
}

.asp-upgrade-body .compare-section .compare-table .asp-row {
    width: 100%!important;
    box-sizing: border-box;
    height: auto;
    display: inline-block!important;
}
.asp-upgrade-body .compare-section .compare-table .asp-column .table-header {
    background-color: #f2eee3 !important;
    padding-top: 12px!important;
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 12px!important;
}

/* Tooltips */

.asp-tooltip {
    position: relative;
    display: inline-block;
    float: right;
    padding: 5px;
    margin: -5px;
    text-align: center;
    cursor: pointer;
}
.asp-tooltip .asp-tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: #2c3a47;
    color: #fff;
    text-align: left;
    border-radius: 1px;
    padding: 15px 20px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -170px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 13px!important;
    pointer-events: none;
}
.asp-tooltip .asp-tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1c2a36 transparent transparent transparent;
}
.asp-tooltip:hover .asp-tooltip-text {
  visibility: visible;
  opacity: 1;
}
li.asp-tooltip {
    text-align: left!important;
    float: none!important;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: default;
}
.asp-nav-tab.asp-upgrade-button {
    background-color: rgba(205, 159, 88, 0.145) !important;
    color: #3a5057 !important;
}
.asp-active-archive-url {
    display: block;
    padding: 4px 20px;
    line-height: 10px!important;
    background-color: #f5f5f5;
    width: fit-content;
    border-left: 5px solid #cd9f58;
    margin-bottom: 17px;
    margin-left: 3px;
}
.asp-active-archive-url p {
    line-height: 10px!important;
}
.sermons_page_asp-settings .vc_license-activation-notice {
    display: none!important;
}

/* Sermon Date Alert */

.post-type-sermons .asp-sermon-date-alert {
    display: block;
    background-color: #f8f8f8;
    padding: 10px 15px;
    margin: 18px 0px -10px 0px;
    border-left: 4px solid #0085ba;
}

.asp-settings-wrapper .wp-picker-container .wp-color-result.button {
    border: 1px solid #ccc!important;
}
.asp-settings-wrapper  select {
    border: 1px solid #ddd!important;
    position: relative!important;
    bottom: 5px;
}
.asp-settings-wrapper .notice {
    background-color: #1c2a36 !important;
    background: #ffffff !important;
    border: 1px solid #292c4b !important;
    border-left: 4px solid #cd9f58 !important;
    padding: 3px 14px 6px 14px !important;
    margin-bottom: 3px !important;
    margin-top: 10px !important;
    color: #292c4b!important;
}

/* Disable parent for taxonomies */

.taxonomy-sermon_speaker .form-field.term-parent-wrap, .taxonomy-sermon_series .form-field.term-parent-wrap, .taxonomy-sermon_book .form-field.term-parent-wrap {
    display: none;
}

/* Shortcode Tooltip */

.asp-inner-wrapper .asp-shortcode-tooltip {
  position: relative;
  display: inline-block;
}
.asp-inner-wrapper .asp-shortcode-tooltip .asp-shortcode-tooltip-text {
  visibility: hidden;
  width: 140px;
  background-color: #1c2a36;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6.5px;
  padding-bottom: 6.5px!important;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.asp-inner-wrapper .asp-shortcode-tooltip .asp-shortcode-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.asp-inner-wrapper .asp-shortcode-tooltip:hover .asp-shortcode-tooltip-text {
  visibility: visible;
  opacity: 1;
}
.asp-inner-wrapper .asp-shortcode-tooltip button {
    border: none!important;
    cursor: pointer!important;
    background-color: #f3f3f3 !important;
    padding-left: 3px!important;
    margin-left: 22px;
    padding-bottom: 5px;
    padding-top: 3px;
    position: relative;
    bottom: 1px;
    font-size: 12px!important;
    color: #777 !important;
}
.asp-inner-wrapper .asp-shortcode-tooltip button:focus {
    outline: none!important;
    border: none!important;
}
.asp-inner-wrapper .asp-shortcode-tooltip button:hover {
    border: none!important;
    cursor: pointer!important;
    background-color: #f3f3f3 !important;
    padding-left: 3px!important;
    margin-left: 22px;
    padding-bottom: 5px;
    padding-top: 3px;
    position: relative;
    bottom: 1px;
    font-size: 12px!important;
    color: #313235 !important;
}
.asp-inner-wrapper .asp-shortcode-tooltip button:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12px 15px 12px 0;
  border-color: transparent #f3f3f3 transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  left: -15px;
  top: 0px;
  position: absolute;
}
.asp-inner-wrapper .asp-pro-version.asp-shortcode-table th {
    min-width: 260px!important;
}
.asp-inner-wrapper .asp-pro-version .asp-shortcode-holder {
    width: 73%!important;
}
.asp-inner-wrapper .asp-pro-version {
    padding-top: 1px!important;
    padding-bottom: 15px;
}
.asp-inner-wrapper .asp-pro-version td p {
    position: relative;
    top: 5px;
}


/* Series Image Admin Column */
@media (min-width: 780px) {
    .taxonomy-sermon_series th.column-series-image,
    .taxonomy-sermon_series td.column-series-image {
        width: 70px;
    }
}

/* Series Speak Admin Column */
@media (min-width: 780px) {
    .taxonomy-sermon_speaker th.column-speaker-image,
    .taxonomy-sermon_speaker td.column-speaker-image {
        width: 70px;
    }
}
.column-asp_order {
    position: relative;
}
.post-type-sermons.taxonomy-sermon_series .wp-list-table .ui-sortable-helper td,
.post-type-sermons.taxonomy-sermon_speaker .wp-list-table .ui-sortable-helper td,
.post-type-sermons.taxonomy-sermon_topics .wp-list-table .ui-sortable-helper td,
.post-type-sermons.taxonomy-sermon_book .wp-list-table .ui-sortable-helper td {
    position: relative;
    width: 21%;
}
.asp-draggable {
    cursor: move;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.asp-draggable span {
    color: #999;
}
#order-post-type #sortable {
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    width: 100%;
}
#order-post-type #sortable ul {
    margin-left:20px;
    list-style: none;
}
#order-post-type #sortable li {
    padding: 10px;
    margin: 3px 0;
    border-bottom: 1px solid #f4f4f4;
    border-left: 4px solid #ccd0d4;
    cursor: move;
    background-color: #FFF;
}
#order-post-type #sortable li:nth-child(2n+1) {
    background-color: #f9f9f9 !important;
}
#order-post-type #sortable li span {
    display: block;
    font-size: 14px;
}
#order-post-type #sortable li.placeholder{
    border: dashed 2px #ccc;
    height: 18px;
    background-color: #FFF;
}
#the-list.ui-sortable tr .check-column:hover {
    cursor: move;
}
#the-list.ui-sortable tr.alternate {
    background-color: #F9F9F9;
}
#the-list.ui-sortable tr.ui-sortable-helper {
    background-color: #ffffff;
    outline: 1px solid #dfdfdf;
}
#the-list.ui-sortable .ui-sortable-placeholder td{
    background-color: #FCFCFC;
    height: 32px;
    background-image: none;
    border: 3px dashed #E6E6E6;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Controls Meta Hidden Elements */

.asp_option_hidden {
    display: none!important;
}
.asp-single-video-type-hidden,
.asp-meta-box.asp-hide-meta-field {
    display: none!important;
}


/* Dashboard Menu Item Separator */

#menu-posts-sermons li:not(:last-child) a[href^="edit.php?post_type=sermons&page=asp-settings"] {
    margin-top: 16px;
    position: relative;
}
#menu-posts-sermons li:not(:last-child) a[href^="edit.php?post_type=sermons&page=asp-settings"]:before {
    border-top: 1px solid hsla(0,0%,100%,.2);
    display: block;
    float: left;
    position: absolute;
    pointer-events: none;
    top: -8px;
    margin-left: -14px;
    content: "";
    width: calc(100% + 0px);
}
#menu-posts-sermons li:not(:last-child) a[href^="post-new.php?post_type=sermons"] {
    margin-bottom: 16px;
    position: relative;
}
#menu-posts-sermons li:not(:last-child) a[href^="post-new.php?post_type=sermons"]:after {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    display: block;
    float: left;
    position: absolute;
    pointer-events: none;
    bottom: -8px;
    margin-left: -14px;
    content: "";
    width: calc(100% + 0px);
}
#wp-admin-bar-asp-sermons-default li:not(:last-child) a[href^="/wp-admin/edit.php?post_type=sermons&page=asp-settings"] {
    margin-top: 16px;
    position: relative;
}
#wp-admin-bar-asp-sermons-default li:not(:last-child) a[href^="/wp-admin/edit.php?post_type=sermons&page=asp-settings"]:before {
    border-top: 1px solid hsla(0,0%,100%,.2);
    display: block;
    float: left;
    position: absolute;
    pointer-events: none;
    top: -8px;
    margin-left: -14px;
    content: "";
    width: calc(100% + 0px);
}
#wp-admin-bar-asp-sermons-default li:not(:last-child) a[href^="/wp-admin/post-new.php?post_type=sermons"] {
    margin-bottom: 16px;
    position: relative;
}
#wp-admin-bar-asp-sermons-default li:not(:last-child) a[href^="/wp-admin/post-new.php?post_type=sermons"]:after {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    display: block;
    float: left;
    position: absolute;
    pointer-events: none;
    bottom: -8px;
    margin-left: -10px;
    content: "";
    width: calc(100% + 0px);
}


/* Taxonomy Hint Notice */

.asp-admin-notice {
    display: block;
    background-color: #ffffff;
    padding: 19px 15px;
    margin: 18px 0px -10px 0px;
    border-left: 4px solid #0085ba;
}
.asp-admin-notice.asp-enabled {
    border-left: 4px solid #4CAF50;
}